

.jumbotron {
    background-color: transparent;
    text-align: center;
    color: #000;
    border-radius: o;
    border-bottom: 10px solid black;
    
    
    }
    
    .past {
    
    height: 80px;
    text-align: left;
    
    }
    
    .description {
    white-space: pre-wrap;
    
    }
    
    .time-block {
        text-align: center;
        border-radius: 15px;
    
    }
    .row {
        white-space: pre-wrap;
        height: 80px;
        border-top: 1px solid white;
    }
    .hour {
        background-color: #fff;
        color: #000;
        border-top: 1px dashed;
    }
    
    .past {
        background-color: #d3d3d3;
        color: white;
    }
    
    .present {
        background-color: #ff6961;
        color: white;
    }
    
    .future {
        background-color: #77dd77;
        color: white;
    }
    .container {
    
    align-content: left;
        border: 78px; color: rgb(43, 226, 58);
    }
    
    .textarea {
        text-align: left;
        padding: 10px;
        background: transparent;
        border: none;
        color: #000;
        border-left: 1px solid black;
    }
    
    .saveBtn {
        border-left: 1px solid black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #06aed5;
        color: white;
    
    }